.logo {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 50px;
  margin-top: 3px;
}
.logo-off {
  font-size: 20.2spx;
  color: blue;
}
.logo-off span {
  font-size: 10px;
  font-style: italic;
}
.home {
  height: 100vh;
  width: 100%;
}
.nav-li {
  color: black;
  margin-top: 15px;
  margin-right: 50px;
}
.nav-li:active {
  color: #095bff;
}
.nav-li:focus {
  color: #095bff;
}

.nav-li:hover {
  color: #095bff;
}
.nav-li2 {
  color: black;
  margin-top: 15px;
}
.nav-li2:active {
  color: #095bff;
}
.nav-li2:focus {
  color: #095bff;
}

.nav-li2:hover {
  color: #095bff;
}
.dw:hover {
  filter: brightness(0.8);
}
.bg {
  width: 100%;
  max-width: 100%;
  height: 763.5px;
}

.div-dp {
  top: 200px;
  right: 0;
  max-width: 300px;
  max-height: 300px;
}
.dp {
  height: auto;
  width: 100%;
}
.names {
  top: 300px;
  left: 30px;
  color: black;
  letter-spacing: 5px;
}
.names h2 {
  font-weight: bold;
}
.names h1 {
  font-weight: bolder;
  margin-left: 15px;
  line-height: 50px;
}
.names h5 {
  font-weight: bolder;
  margin-left: 30px;
  color: #4a4747;
}
.names2 {
  color: white;
  top: 500px;
  left: 30px;
}

.names2 h4 a {
  background-color: #095bff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
  font-weight: 400;
  font-size: 20px;
  color: white;
  outline: none;
}
.names2 h4:hover {
  filter: brightness(0.8);
}
.g-icons {
  top: 600px;
  right: 30px;
  font-size: 30px;
}
.icons {
  color: black;
  margin-left: 20px;
}
.names-icon {
  font-size: 16px;
  color: black;
}

/* about me */
.about-me {
  max-width: 900px;
}
.about-me p {
  line-height: 30px;
}
.learning img {
  max-width: 90px;
  max-height: 120px;
}

/* projects */
.full-card p:first-child {
  margin: 20px;
}
.project-card {
  background: #31313f !important;
  margin-left: 20px;
  color: white;
  max-width: 320px;
  height: 420px !important;
}
.project-card img {
  max-width: 290px;
  height: 170px;
  border-radius: 5px;
}
.card-links a:first-child {
  background-color: #095bff;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
}
.card-links a:last-child {
  border: 1px solid #095bff;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
}

/* contact me*/

.contact-me {
  padding: 0 10px;
}
.contact-p {
  max-width: 700px;
  line-height: 30px;
}
.contact-me h5 span {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}
/* footer */
.footer {
  padding-left: 20px;
  padding-right: 20px;
}
.footer h5 {
  margin-top: 10px;
}
.footer h5 span {
  font-weight: 400;
  font-size: 17px;
}
@media (max-width: 768px) {
  .bg {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .div-dp {
    top: 50px;
    right: 0;
    max-width: 200px;
    max-height: 200px;
  }
  .g-icons {
    top: 250px;
    right: 15px;
    font-size: 20px;
  }
  .icons {
    color: black;
    margin-left: 15px;
  }
  .names {
    top: 100px;
    left: 30px;
    color: black;
    letter-spacing: 2px;
  }
  .names2 {
    color: white;
    top: 220px;
    left: 30px;
  }
  .names h2 {
    font-weight: bold;
    font-size: 16px;
  }
  .names h1 {
    font-weight: bolder;
    margin-left: 15px;
    line-height: 40px;
    font-size: 25px;
  }
  .names h5 {
    font-weight: bolder;
    margin-left: 30px;
    color: #4a4747;
    font-size: 11px;
  }
  .names2 h4 a {
    padding: 2px;
    font-weight: 300;
    font-size: 15px;
    color: white;
    /* height: 30px; */
  }
  .names-icon {
    font-size: 13px;
    color: black;
  }
  .learning img {
    max-width: 50px;
    max-height: 80px;
  }
  .about-me p {
    padding: 10px;
    font-size: 13px;
  }
  .about-me h1 {
    font-size: 17px;
  }
  .about-me h2 {
    font-size: 15px;
  }
  .skills h1 {
    font-size: 17px;
  }
  .skills h2 {
    font-size: 15px;
  }
  .projects h1 {
    font-size: 17px;
  }
  .full-card p:first-child {
    margin: 10px;
    font-size: 13px;
  }
  .project-card {
    background: #31313f !important;
    margin-left: 10px;
    color: white;
    max-width: 320px;
    height: 420px !important;
  }
  .project-card p {
    font-size: 13px;
  }
  .card-links a {
    font-size: 15px;
  }
  .contact-me p {
    font-size: 13px;
  }
  .contact-me h1 {
    font-size: 17px;
  }
  .contact-me h5 {
    font-size: 15px;
  }
  .contact-me h5 span {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer h5 span {
    font-size: 13px;
  }
  .footer h5 {
    font-size: 13px;
  }
  .contact-p {
    line-height: 25px;
  }
  .about-me p {
    line-height: 25px;
  }
}

@media (max-width: 500px) {
  .div-dp {
    top: 50px;
    right: 0;
    max-width: 100px;
    max-height: 100px;
  }
  .g-icons {
    top: 155px;
    right: 15px;
    font-size: 13px;
  }
  .icons {
    color: black;
    margin-left: 8px;
  }
  .names {
    top: 65px;
    left: 10px;
    color: black;
    letter-spacing: 2px;
  }
  .names h2 {
    font-weight: bold;
    font-size: 15px;
  }
  .names h1 {
    font-weight: bolder;
    margin-left: 15px;
    line-height: 20px;
    font-size: 22px;
  }
  .names h5 {
    font-weight: bolder;
    margin-left: 30px;
    color: #4a4747;
    font-size: 10px;
  }
  .names2 {
    color: white;
    top: 140px;
    left: 45px;
  }
  .names2 h4 a {
    padding: 2px;
    font-weight: 300;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    /* height: 30px; */
  }
  .names2 h4:first-child {
    display: none;
  }

  .names-icon {
    font-size: 9px;
    color: black;
  }
  .learning img {
    max-width: 30px;
    max-height: 50px;
  }
}
